<div class="container">
  <div class="buttons">
  <%= link_to "Add a List", new_list_path, class: "btn btn-gradient" %>
  </div>
  <div class="card-product">
    <div class="lists">
      <% @lists.each do |list| %>
        <span class="list-title">
          <%= link_to list.name, list_path(list), class:"btn-click"%>
        </span>
      <% end %>
    </div>
  </div>
</div>
